<% provide(:title, "Grouping Block Elements") %>

		<div id="header">
            <%= image_tag("ch08/logo.gif", alt: "Anish Kapoor") %>
			<ul>
				<li><a href="#">Home</a></li>
				<li><a href="#">Biography</a></li>
				<li><a href="#">Works</a></li>
				<li><a href="#">Contact</a></li>
			</ul>
		</div><!-- end of header -->
