<% provide(:title, "Information About Your Pages") %>

<% meta_tag :description, "An Essay on Installation Art" %>
<% meta_tag :keywords, "installation, art, opinion" %>
<% meta_tag :robots, "nofollow" %>
<% meta_tag :author, "Jimmy Chong" %>
<% meta_tag :pragma, "no-cache" %>

<meta http-equiv="expires" content="Fri, 04 Apr 2014 23:59:59 GMT" />

<p>Please view the source of this page to examine the meta data.</p>
