<% provide(:title, "Adding Youtube Video") %>

<h2>Right Here Waiting - Easy Piano Solo</h2>                
                
<iframe width="854" height="480" src="https://www.youtube.com/embed/vPps-m12UJo" frameborder="0" allowfullscreen></iframe>
        
<ul>
  <li>Right Here Waiting - Easy Piano Solo</li>
  <li>Artist: Richard Marx</li>
  <li>Easy Piano from <a href = "http://www.yamahamusicsoft.com/">Yamaha Musicsoft</a></li>
</ul>
