<% provide(:title, "HTML & CSS - Design and Build Websites") %>

<div id="container">
			<div class="section">
				<h1>HTML & CSS</h1>
				<h2 id="contents">Contents</h2>
				<ol>
					<li><a href="#five">Chapter 5: Images</a></li>
				</ol>
			</div>
            
			<div class="section">
				<h3 id="five">Chapter 5: Images</h3>
				<ul>
					<li><a href="static_pages/ch05_01_adding_images">Adding Images</a></li>
					<li><a href="static_pages/ch05_02_height_and_width_of_images">Height and Width of Images</a></li>
					<li><a href="static_pages/ch05_03_where_to_place_images">Where to Place Images</a></li>
					<li><a href="static_pages/ch05_04_aligning_images_horizontally">(OLD CODE:) Aligning Images Horizontally</a></li>
					<li><a href="static_pages/ch05_05_aligning_images_vertically">(OLD CODE:) Aligning Images Vertically</a></li>
					<li><a href="static_pages/ch05_06_examining_images_on_the_web">(Not in the book) Examining Images on the Web</a></li>
					<li><a href="static_pages/ch05_07_figure-and-figure-caption">New in HTML5: Figure and Figure Caption</a></li>
					<li><a href="static_pages/ch05_08_example">Example</a></li>
				</ul>
			</div>            
            
</div>
            