<p>
  Thank you, <%= @ch0720vote.username %>!
</p>

<p>
  You voted for <%= @ch0720vote.musician %>.
</p>

<%= link_to 'See the results', ch0720votes_path %><br />
<%= link_to 'Go home', root_path %>
