// Place all the styles related to the Ch1003examples controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	font-family: Arial, Verdana, sans-serif;}
h1, h2 {
	color: #ee3e80;}
p {
	color: #665544;}
